.employee-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 400px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  gap: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  align-self: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.text-content {
  margin-bottom: 10px;
}

.edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reminder {
  font-weight: bold;
  color: var(--accent-color);
  margin-top: 0.5em;
}

.employee-card.development {
  border-left: 5px solid #007bff;
}

.employee-card.management {
  border-left: 5px solid #28a745;
}

.employee-card.design {
  border-left: 5px solid #ffc107;
}

.employee-card.devops {
  border-left: 5px solid #f82a06;
}

.employee-card.research {
  border-left: 5px solid #6f00ff;
}

.employee-card.hr {
  border-left: 5px solid #00e1ff;
}
